<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>  
	<context:component-scan base-package="com.uf.controller" />
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/view/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean> 
	<!-- 
	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
    	<property name="templateLoaderPath" value="/WEB-INF/view/freemarker/"/>
	</bean>
	<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
	    <property name="cache" value="true"/>
	    <property name="prefix" value=""/>
	    <property name="suffix" value=".ftl"/>
	</bean>
	 -->
	 <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="10000000" />
    </bean>
    
    
    <context:component-scan base-package="com.uf.service"></context:component-scan>
	<context:component-scan base-package="com.uf.dao"></context:component-scan>
	<context:component-scan base-package="com.uf.springbean"></context:component-scan>
	
	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://sav-nova-test.cjhssfjyj8vz.us-west-2.rds.amazonaws.com:3306/test?characterEncoding=UTF-8" />
		<property name="username" value="root" />
		<property name="password" value="savadmin" />
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="mappingResources">
			<list>
				<value>com/uf/entity/Product.hbm.xml</value>
				<value>com/uf/entity/ProductImage.hbm.xml</value>
				<value>com/uf/entity/BuycarProductInfo.hbm.xml</value>
				<value>com/uf/entity/Customer.hbm.xml</value>
				<value>com/uf/entity/Manager.hbm.xml</value>
				<value>com/uf/entity/Word.hbm.xml</value>
			</list>
		</property>
		
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
				hibernate.show_sql=true
				javax.persistence.validation.mode=none
				hibernate.hbm2ddl.auto=update
			</value>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="searchEngine" class="com.uf.searcher.SearchEngine">
		 <constructor-arg value="E:/luceneIndex" name="indexDir"/>
		  <constructor-arg value="false" name="rebuildIndex"/>
	</bean>

	<aop:config>
		<aop:pointcut expression="execution(* com.uf.service.*.*(..))"
			id="txMethods" />
		
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txMethods" />
	</aop:config>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>
</beans>