<?xml version="1.0" encoding="UTF-8"?>
<javaee:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <javaee:welcome-file-list>
    <javaee:welcome-file>welcome.html</javaee:welcome-file>
  </javaee:welcome-file-list>
  <javaee:filter>
    <javaee:description>
  	</javaee:description>
    <javaee:display-name>RelocateFilter</javaee:display-name>
    <javaee:filter-name>RelocateFilter</javaee:filter-name>
    <javaee:filter-class>com.uf.filter.RelocateFilter</javaee:filter-class>
  </javaee:filter>
  <javaee:filter-mapping>
    <javaee:filter-name>RelocateFilter</javaee:filter-name>
    <javaee:url-pattern>/manager</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:servlet>
    <javaee:servlet-name>springMVC</javaee:servlet-name>
    <javaee:servlet-class>org.springframework.web.servlet.DispatcherServlet</javaee:servlet-class>
    <javaee:load-on-startup>1</javaee:load-on-startup>
  </javaee:servlet>
  <javaee:servlet-mapping>
    <javaee:servlet-name>springMVC</javaee:servlet-name>
    <javaee:url-pattern>/controller/*</javaee:url-pattern>
  </javaee:servlet-mapping>
  <javaee:filter>
    <javaee:display-name>LoginFilter</javaee:display-name>
    <javaee:filter-name>LoginFilter</javaee:filter-name>
    <javaee:filter-class>com.uf.filter.LoginFilter</javaee:filter-class>
  </javaee:filter>
  <javaee:filter-mapping>
    <javaee:filter-name>LoginFilter</javaee:filter-name>
    <javaee:url-pattern>/controller/manager/auth/*</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:filter>
    <javaee:filter-name>characterEncodingFilter</javaee:filter-name>
    <javaee:filter-class>org.springframework.web.filter.CharacterEncodingFilter</javaee:filter-class>
    <javaee:init-param>
      <javaee:param-name>encoding</javaee:param-name>
      <javaee:param-value>UTF-8</javaee:param-value>
    </javaee:init-param>
    <javaee:init-param>
      <javaee:param-name>forceEncoding</javaee:param-name>
      <javaee:param-value>true</javaee:param-value>
    </javaee:init-param>
  </javaee:filter>
  <javaee:filter-mapping>
    <javaee:filter-name>characterEncodingFilter</javaee:filter-name>
    <javaee:url-pattern>/*</javaee:url-pattern>
  </javaee:filter-mapping>
</javaee:web-app>